* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}


.bundles-heading hr {
	position: relative;
	top: -30px;
	z-index: -1;
}

.bundles-heading h2 {
	text-transform: capitalize;
	padding: 20px;
	font-size: 18.08px;
	position: relative;
	display: inline-block;
	background-color: #fff;
	color: #007F61;
	z-index: 1;
}

.bundles-section {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.pair{
	display: flex;
	justify-content: flex-start;
	padding: 20px;
	cursor: pointer;
}


.pair-group{
	width: 100%;
}

.pair-group .pairSub , .pair-group .pairSubNext{
	display: flex;
	justify-content: space-between;
}

.bundles-section .pairSub :first-child {
	font-weight: 400;
	font-size: 14.46px;
	color: #000;
}

.bundles-section .pairSub .most {
	font-size: 12.65px;
	font-weight: 600;
	color: #007F61;
	cursor: pointer;
	text-transform: capitalize;
}

.bundles-section .pairSubNext span {
	font-size: 14.46px;
	font-weight: 500;
	color: #000;
}




.dropSelection .dropList {
	display: flex;
	align-items: center;
}

.dropSelection .dropList label {
	font-size: 9.04px;
	font-weight: 400;
}


.dropSelection .sizeSection {
	display: inline-block;
}

.sizeSection p {
	font-size: 9.94px;
	line-height: 12.03px;
	font-weight: 400;
	color: #000;
	padding: 2.5px;
}

.sizeSection select {
	width: 66px;
	padding: 4px;
	margin-left: 2.5px;
}

.sizeSection select option {
	font-size: 10.85px;
	line-height: 13.13px;
	color: #000;
}


.freeInfo span:first-child {
	line-height: 16.94px;
	color: #007F61;
	font-size: 14px;
	cursor: pointer;
}

.freeInfo{
	display: flex;
	justify-content: space-between;
}

.btns {
	height: 48px;
	background-color: #007F61;
	color: #fff;
	width: 100%;
	outline: none;
	box-shadow: none;
	border: none;
    cursor: pointer;
}


















.bundles-section .radio {
	width: 15px;
	height: 15px;
	border: 2px solid #ccc;
	margin: 10px 30px 0 0;
	border-radius: 50%;
	display: inline-block;
}

.bundles-section .radio.active {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #007F61;
	outline: 2px solid #007F61;
	border: 2px solid #fff;
	margin: 10px 20px 0 0;
	border-radius: 50%;
}


.bundles-section .dropSelection{
	padding: 0 40px 40px;
	cursor: pointer;
	display: none;

}



.bundles-section.active .dropSelection {
	display: block;

}

.bundles-section.active {
	background-color: #F4FBF9;
	border: 1px solid #007F61;
}

















@media only screen and (max-width: 768px) {
	.col-offset-1 {
		margin-left: calc((100%*0.5) / 12);
	}

	.bundles-section .radio,
	.bundles-section .radio.active {
        margin: 10px 15px 10px 0;
	}

	.bundles-section {
		padding: 20px;
	}
}